---

- name: "Configure rhis-builder projects"
  hosts: localhost
  gather_facts: false
  vars:
    rhis_root_dir: "/rhis"
    default_inventory_link: "/rhis/vars/external_inventory"
    default_external_tasks_link: "/rhis/vars/external_tasks"
    default_files_link: "/rhis/vars/files"
    default_group_link: "/rhis/vars/group_vars"
    default_host_link: "/rhis/vars/host_vars"
    default_template_link: "/rhis/vars/templates"
    default_vars_link: "/rhis/vars/vars"
    default_vault_link: "/rhis/vars/vault"
    project_list:
      - name: "rhis-builder-idm"
        repo: "https://github.com/parmstro/rhis-builder-idm.git"
        purge: true
      - name: "rhis-builder-satellite"
        repo: "https://github.com/parmstro/rhis-builder-satellite.git"
        purge: true
      - name: "rhis-builder-pipelines"
        repo: "https://github.com/parmstro/rhis-builder-pipelines.git"
        purge: true
      - name: "rhis-builder-aap"
        repo: "https://github.com/parmstro/rhis-builder-aap.git"
        purge: true
      - name: "rhis-builder-day-2-ops"
        repo: "https://github.com/parmstro/rhis-builder-day-2-ops.git"
        purge: true
      - name: "rhis-builder-nbde"
        repo: "https://github.com/parmstro/rhis-builder-nbde.git"
        purge: true
      - name: "rhis-builder-imagebuilder"
        repo: "https://github.com/parmstro/rhis-builder-imagebuilder.git"
        purge: true
      - name: "rhis-builder-yubi"
        repo: "https://github.com/parmstro/rhis-builder-yubi.git"
        purge: true
      - name: "rhis-builder-convert2rhel"
        repo: "https://github.com/parmstro/rhis-builder-convert2rhel.git"
        purge: true
      - name: "rhis-builder-ansible-ee"
        repo: "https://github.com/parmstro/rhis-builder-ansible-ee.git"
        purge: true
      - name: "rhis-builder-quadlet-deploy"
        repo: "https://github.com/parmstro/rhis-builder-quadlet-deploy.git"
        purge: true

  tasks:

    - name: "Clone each of the project to the container"  # noqa git[latest]  we always want the latest main when we build the container.
      ansible.builtin.git:
        repo: "{{ project.repo }}"
        dest: "{{ rhis_root_dir }}/{{ project.name }}"
        clone: true
        version: "main"
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Delete any inventory for each project"
      when: project.purge
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/{{ project.name }}/inventory"
        state: absent
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Link the inventory directory to the bind mount directory"
      when: project.purge
      ansible.builtin.file:
        src: "{{ default_inventory_link }}"
        dest: "{{ rhis_root_dir }}/{{ project.name }}/inventory"
        state: link
        mode: "0644"
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Delete any external_tasks directory for each project"
      when: project.purge
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/{{ project.name }}/external_tasks"
        state: absent
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Link the external_tasks directory to the bind mount directory"
      when: project.purge
      ansible.builtin.file:
        src: "{{ default_external_tasks_link }}"
        dest: "{{ rhis_root_dir }}/{{ project.name }}/external_tasks"
        state: link
        mode: "0644"
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Delete the files directories for each project"
      when: project.purge
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/{{ project.name }}/files"
        state: absent
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Link the files directory to the bind mount directory"
      when: project.purge
      ansible.builtin.file:
        src: "{{ default_files_link }}"
        dest: "{{ rhis_root_dir }}/{{ project.name }}/files"
        state: link
        mode: "0644"
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Delete the group_vars directories for each project"
      when: project.purge
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/{{ project.name }}/group_vars"
        state: absent
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Link the group_vars directory to the bind mount directory"
      when: project.purge
      ansible.builtin.file:
        src: "{{ default_group_link }}"
        dest: "{{ rhis_root_dir }}/{{ project.name }}/group_vars"
        state: link
        mode: "0644"
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Delete the host_vars directories for each project"
      when: project.purge
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/{{ project.name }}/host_vars"
        state: absent
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Link the host_vars directory to the bind mount directory"
      when: project.purge
      ansible.builtin.file:
        src: "{{ default_host_link }}"
        dest: "{{ rhis_root_dir }}/{{ project.name }}/host_vars"
        state: link
        mode: "0644"
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Delete the templates directories for each project"
      when: project.purge
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/{{ project.name }}/templates"
        state: absent
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Link the templates directory to the bind mount directory"
      when: project.purge
      ansible.builtin.file:
        src: "{{ default_template_link }}"
        dest: "{{ rhis_root_dir }}/{{ project.name }}/templates"
        state: link
        mode: "0644"
        force: true
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Delete any vars directory for each project"
      when: project.purge
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/{{ project.name }}/vars"
        state: absent
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Link the vars directory to the bind mount directory"
      when: project.purge
      ansible.builtin.file:
        src: "{{ default_vars_link }}"
        dest: "{{ rhis_root_dir }}/{{ project.name }}/vars"
        state: link
        mode: "0644"
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Delete any vault directory for each project"
      when: project.purge
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/{{ project.name }}/vault"
        state: absent
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Link the inventory directory to the bind mount directory"
      when: project.purge
      ansible.builtin.file:
        src: "{{ default_vault_link }}"
        dest: "{{ rhis_root_dir }}/{{ project.name }}/vault"
        state: link
        mode: "0644"
      loop: "{{ project_list }}"
      loop_control:
        loop_var: project

    - name: "Delete any vault files for rhis-builder-inventory"
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/rhis-builder-inventory/vault"
        state: absent

    - name: "Delete any vault files for rhis-builder-inventory"
      ansible.builtin.file:
        path: "{{ rhis_root_dir }}/rhis-builder-pipelines/vmware/vars/vault.yml"
        state: absent
